/* Navbar.css */
.navbar {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1.7rem;
  position: fixed; /* Fixed at the top */
  width: 100%;
  z-index: 1000; 
  
}

.nav-container {
  max-width: 90%;
  margin: 0 auto;
  display: flex;

}

.nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.nav-item {
  margin:0;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white; /* Icon color */
  cursor: pointer;
  outline: none;
  border: none;
}

.nav-links img {
  width: 60%;
  transition: transform 0.2s ease-in-out; /* Smooth scaling on hover */
}

.nav-links:hover img {
  transform: scale(1.1); /* Slightly enlarge icons on hover/focus */
}

@media (max-width: 768px) {
  .nav-container {
      flex-direction: column; /* Stack nav items under each other in narrow views */
  }
  .nav-menu {
      flex-direction: column; /* Vertical menu for narrow screens */
      align-items: center; /* Center align the menu items */
  }
  .nav-links {
      width: 100%; /* Full width links on small screens */
      text-align: center; /* Center text */
  }
}


