/* Container for the entire projects and contact sections */
@font-face {
  font-family: anta;
  src: url(./fonts/anta/Anta/Anta-Regular.ttf);
}

.projects_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 2vh;
  padding-top: 2vh;

}

.box-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 2vh;
  top: 20vh;
  left: 10vh;

}




.animated-projects {
  position:relative;
  top: -143vh;
  left: 37vw;
  z-index: 10; /* Ensures text appears above images */
  width: 240px;
  text-align: end;
}

.animated-projects h1 {
  font-family: vg5000;
  letter-spacing: 1px;  /* Normalized letter spacing */
  word-spacing:1px;    /* Normalized word spacing */
  font-weight: 200;
  font-size: 11px;
  color: rgb(113, 113, 113);
  margin: 0 auto; 
  transition: background-color 0.5s, color 0.5s;
}

.animated-projects h1:hover {
  color: rgb(20, 20, 20);
  cursor: pointer;
}






.contact-container {
  display: flex;
  justify-content: center; /* Center the navigation menu */
}


.contact {
  display: flex;       /* Ensures flexbox layout */
  justify-content: flex-start; /* Aligns children to the start */
  position: relative;  /* Standard positioning to manipulate inside elements */
  left: -35vh;             /* Resets any previously set horizontal movement */
  top: -83vh;
}



.contact-devpost img {
  margin: 1vh;
  width: 114px;  /* Example width; adjust as necessary */
  height: auto; /* Example height; ensure it matches the width or as desired */
  transition: transform 0.3s ease; /* Smooth transform on hover (scaling) */
  position: relative;
}

.contact-email img {
  margin: 1vh;
  width: 125px; 
  height: auto;
  transition: transform 0.3s ease; 
  position: relative;
}




.contact-linkedin {
  width: auto;  /* Increased width to 150 pixels */
  height: 37px;  /* New fixed height, change as necessary */
  display: flex;
  justify-content: flex-start;
  
  position: relative;
  padding: 0;
  margin: 0;
  left: -78vh;
  top: -95vh;

}

.contact-linkedin:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
  
}

.contact-devpost:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
  
}

.contact-email:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
  
}

.outro {
  width: 600px;
  position: relative;
  display:flex;
  text-align: end;
  left: 34vh;
  top: -95vh;
}







.outro h1 {
  color: rgba(71, 71, 71, 0.882);
  font-size: 19px;
  font-family: anta;
}



