/* Container for the entire projects and contact sections */
@font-face {
  font-family: anta;
  src: url(./fonts/anta/Anta/Anta-Regular.ttf);
}

.projects_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 2vh;
  padding-top: 2vh;
  

}

.project_lines {
    position: relative;
    width: 100%; /* Use 100% of the container's width */
    margin: 1.3vh; /* Vertically aligns at 1.3vh from the top, centered horizontally */
    display: flex; /* Use flexbox to manage children */
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    overflow: hidden; /* Hide any part of the img that exceeds the bounds of its container */
}

.project_lines img {
    width: 100%; /* Make the image width responsive to the container's width */
    height: auto; /* Maintain the aspect ratio of the image */
    transition: transform 0.3s ease; /* Smooth transition for transforms applied to the image */
}


.box-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 2vh;
  margin-left: 2vh;
  margin-right: 2vh;
  margin-bottom: 0;
  top: 20vh;
  left: 10vh;

}




.animated-projects {
  position:relative;
  top: -143vh;
  left: 37vw;
  z-index: 10; /* Ensures text appears above images */
  width: 240px;
  text-align: end;
}

.animated-projects h1 {
  font-family: vg5000;
  letter-spacing: 1px;  /* Normalized letter spacing */
  word-spacing:1px;    /* Normalized word spacing */
  font-weight: 200;
  font-size: 11px;
  color: rgb(113, 113, 113);
  margin: 0 auto; 
  transition: background-color 0.5s, color 0.5s;
}

.animated-projects h1:hover {
  color: rgb(20, 20, 20);
  cursor: pointer;
}



.contact-container {
  display: flex;
  padding-top: 0; 
  padding-left: 0;   
  padding-right: 20px; 
  padding-bottom: 20px; 
  align-items: left;     /* Center-align items for better visual balance */
  justify-content: left;
  
}


.contact {
  display: flex;       /* Ensures flexbox layout */
  justify-content: flex-start; /* Aligns children to the start */
  position: relative;  /* Standard positioning to manipulate inside elements */
  left: -33vh;             /* Resets any previously set horizontal movement */
  top: -83vh;
}



.contact-devpost img {
  margin: 1vh;
  width: 113px;  /* Example width; adjust as necessary */
  height: auto; /* Example height; ensure it matches the width or as desired */
  transition: transform 0.3s ease; /* Smooth transform on hover (scaling) */
  position: relative;
}

.contact-email img {
  margin: 1vh;
  width: 120px; 
  height: auto;
  transition: transform 0.3s ease; 
  position: relative;
}




.contact-linkedin {
  width: auto;  /* Increased width to 150 pixels */
  height: 37px;  /* New fixed height, change as necessary */
  display: flex;
  justify-content: flex-start;
  
  position: relative;
  padding: 0;
  margin: 0;
  left: -76vh;
  top: -95vh;

}

.contact-linkedin:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
  
}

.contact-devpost:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
  
}

.contact-email:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
  
}

.outro {
  width: 600px;
  position: relative;
  display:flex;
  text-align: flex-end;

  left: 36vh;
  top: -95vh;
  text-align: right;
}


.outro h1 {
  color: rgba(71, 71, 71, 0.882);
  font-size: calc(1vw + 6px);
  font-family: anta;
}



